.tileContainer {
  display: flex;
  flex-wrap: wrap;

  span {
    width: 100%;
  }

  .tile-enter {
    opacity: 0.01;
  }

  .tile-enter.tile-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }

  .tile-leave {
    opacity: 1;
  }

  .tile-leave.tile-leave-active {
    opacity: 0.01;
    transition: opacity 500ms ease-in;
  }
}
